body
{
	max-width: 100%;
	margin: 0 auto;
	background-color: #eeeeee;
}

.logo
{
    font-size: 4rem;
    background-color: silver;
    color: #1e1e1e;
    letter-spacing: 0.25em;
}

.pages > h5
{
	text-align: center;
	margin-top: 1rem;
	font-size: 1em;
	letter-spacing: 0.2em;
}


a
{
	color: gray;
}

.header
{
	margin-top: 8rem;
}

